@{
    ViewData["Title"] = "Начало";
}

<div class="text-center">
    <h1 class="display-4"> Каталог за книги</h1>
    <p class="lead">Добре дошли в уеб интерфейса на приложението.</p>
    <p>Използвайте менюто горе, за да разгледате книги, жанрове и автори.</p>
</div>
